.scope-banner {
  position: relative;
  height: 100%;
  margin-bottom: 50px;
}

.scope-banner::after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.banner-content {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.banner-content h2 {
  color: #ef5350;
  letter-spacing: 3px;
  font-size: 26px;
}

.banner-content span {
  letter-spacing: 2px;
  word-spacing: 1px;
  font-size: 16px;
}