.collapse {
  max-width: 920px;
  margin: 50px auto 10px auto;
  padding-bottom: 20px;
  position: relative;
}

.collapse h3 {
  color: #ef5350;
  font-size: 26px;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: 550;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.collapse-btn {
  background-color: #fff;
  color: #ef5350;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.4s;
}

.active, .collapse-btn {
  background-color: #fff;
}

.collapse-btn::after {
  content: "\002B";
  color: #ef5350;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: '\2212';
}

.collapse-content {
  padding: 0px 18px;
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.collapse-content p {
  color: #333;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: justify;
  line-height: 1.4;
}