.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 20px 16px;
  z-index: 2;
}

.sticky {
  background-color: #fff;
  border-bottom: 3px solid #ddd;
}

.header ul {
  list-style-type: none;
  text-align: right;
}

.header ul li {
  display: inline-block;
  margin-right: 5px;
}

.header ul li.link-home {
  float: left;
  -webkit-transform: skew(0deg, 4deg);
  -ms-transform: skew(0deg, 4deg);
  -moz-transform: skew(0deg, 4deg);
  transform: skew(0deg, -40deg);
}

.header ul li a {
  color: #ff5252;
  text-decoration: none;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
}