.scope-timeline {
  position: relative;
  margin-top: 20px;
  background-color: #fff;
  -webkit-transform: skew(0deg, -4deg);
  -ms-transform: skew(0deg, -4deg);
  -moz-transform: skew(0deg, -4deg);
  transform: skew(0deg, -4deg);
}

.title-timeline {
  padding: 20px 10px;
  text-align: center;
  -webkit-transform: skew(0deg, 4deg);
  -ms-transform: skew(0deg, 4deg);
  -moz-transform: skew(0deg, 4deg);
  transform: skew(0deg, 4deg);
  transform: skew(0deg, 4deg);
}

.title-timeline h3 {
  padding: 20px;
  color: #ef5350;
  font-size: 26px;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: 550;
  text-decoration: underline;
  text-transform: uppercase;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
  padding-bottom: 40px;
  -webkit-transform: skew(0deg, 4deg);
  -ms-transform: skew(0deg, 4deg);
  -moz-transform: skew(0deg, 4deg);
  transform: skew(0deg, 4deg);
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  top: 0px;
  bottom: 0px;
  left: 50%;
  margin-left: -3px;
  box-shadow: 0px 0px 3px 2px #f2f2f2;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: #fafbfc;
  border: 2px solid #ddd;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0px;
}

.right {
  left: 50%;
}

.left::before {
  content: '';
  height: 0px;
  position: absolute;
  top: 22px;
  width: 0px;
  z-index: 1;
  right: 30px;
  border: medium solid #f2f2f2;
  border-width: 10px 0px 10px 10px;
  border-color: transparent transparent transparent #f2f2f2;
}

.right::before {
  content: '';
  height: 0px;
  position: absolute;
  top: 22px;
  width: 0px;
  z-index: 1;
  left: 30px;
  border: medium solid #f2f2f2;
  border-width: 10px 10px 10px 0px;
  border-color: transparent #f2f2f2 transparent transparent;
}

.right::after {
  left: -16px;
}

.timeline-content {
  padding: 10px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 2px #f2f2f2;
}

.timeline-content h2 {
  width: 100px;
  height: 80px;
  margin: 0px auto;
  border-radius: 3px;
}

.timeline-content p {
  color: #333;
  margin-top: 5px;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: justify;
}

.more-plan {
  position: relative;
  background-color: #fff;
  margin-top: 55px;
  padding: 20px 10px;
  text-align: center;
}

.more-plan h3 {
  padding: 5px;
  color: #ef5350;
}

.more-plan span {
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #ef5350;
}

.more-plan span.consultor {
  text-transform: uppercase;
  font-weight: 550;
}

.more-plan button {
  border: 1px solid #ef5350;
  background-color: #fff;
  color: #ef5350;
  padding: 5px;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

.more-plan button:hover {
  background-color: #ef5350;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 60px;
    border: medium solid #f2f2f2;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #f2f2f2 transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}